Alekfull https://github.com/ricardoalvarenga101/pipboy-themes/tree/master/es-theme-alekfull-EmueELEC
Art-Book-4-3 https://github.com/SzalikDesigns/Art-Book-4-3
Cody-Epic https://github.com/SzalikDesigns/Vepic-cody
Handheld-Simple https://github.com/SzalikDesigns/amberelec-handheld-simple
# This line will be ignored but its needed heheh
